/* app css stylesheet */

body {
    padding-top: 10px;
}

.angular-google-map-container {
    height: 400px;
}

.bus--list ul.nav-stacked {
    height: 400px;
    overflow-x: auto;
}

.bus-stop__title {
    padding-left: 15px;
}

.row.content .form-inline {
    padding-bottom: 15px;
}
