<div class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="searchInput">Search</label>
        <input type="text" class="form-control" id="searchInput" placeholder="Search" ng-model="query">
    </div>
    <div class="form-group">
        <label class="sr-only" for="searchInput">Order By</label>
        <select class="form-control" ng-model="order">
            <option value="name">Name</option>
            <option value="towards">Towards</option>
            <option value="direction">Direction</option>
        </select>
    </div>
</div>