<form name="coordinatesForm" class="form-inline" novalidate ng-submit="updateCoordinates(coordinatesForm.$valid)">
    <div class="form-group">
        <label class="sr-only" for="northEastLat">NorthEast Latitude</label>
        <input type="text" class="form-control" id="northEastLat" placeholder="NorthEast Latitude" required
               ng-model="coordinatesToBound.northEast.lat" title="NorthEast Latitude" ng-pattern="/^0|[1-9][0-9]*$/">
    </div>
    <div class="form-group">
        <label class="sr-only" for="northEastLong">NorthEast Longitude</label>
        <input type="text" class="form-control" id="northEastLong" placeholder="NorthEast Longitude" required
               ng-model="coordinatesToBound.northEast.long" title="NorthEast Longitude" ng-pattern="/^0|[1-9][0-9]*$/">
    </div>
    <div class="form-group">
        <label class="sr-only" for="southWestLat">SouthWest Latitude</label>
        <input type="text" class="form-control" id="southWestLat" placeholder="SouthWest Latitude" required
               ng-model="coordinatesToBound.southWest.lat" title="SouthWest Latitude" ng-pattern="/^0|[1-9][0-9]*$/">
    </div>
    <div class="form-group">
        <label class="sr-only" for="southWestLong">SouthWest Long</label>
        <input type="text" class="form-control" id="southWestLong" placeholder="SouthWest Longitude" required
               ng-model="coordinatesToBound.southWest.long" title="SouthWest Longitude" ng-pattern="/^0|[1-9][0-9]*$/">
    </div>

    <button type="submit" class="btn btn-default">Update</button>
</form>