<bus-stop-header></bus-stop-header>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-4 sidenav bus--list">
            <bus-list-menu></bus-list-menu>
        </div>

        <div class="col-sm-8 text-left">
            <coordinates-form></coordinates-form>
            <bus-stop-map></bus-stop-map>
        </div>
    </div>
</div>

<footer class="container-fluid text-center podcast--footer">
    <hr>
    <p>Source code available on <a href="https://github.com/jesussobrino/angular-bus-stop">https://github.com/jesussobrino/angular-bus-stop</a>
    </p>
</footer>
