<bus-stop-header></bus-stop-header>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-4 sidenav bus--list">
            <bus-list-filter query="query" order="orderByProperty"></bus-list-filter>
            <ul class="nav nav-pills nav-stacked bus-list">
                <li ng-repeat="marker in markers | filter:query | orderBy:orderByProperty">
                    <a href="#/bus-detail/{{marker.id}}/{{marker.name}}">
                        <span>{{marker.name}}</span>
                        <span ng-if="marker.stopIndicator">(Stop {{marker.stopIndicator}})</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-8 text-left">
            <coordinates-form></coordinates-form>
            <ui-gmap-google-map center='map.center' zoom='map.zoom' control="map.control">
                <ui-gmap-window
                        show="map.window.show"
                        coords="map.window.model"
                        options="map.window.options"
                        closeClick="map.window.closeClick()"
                        templateParameter="map.window">
                    <div>
                        <h5>
                            <img height="15" width="15"
                                 src="https://maps.gstatic.com/mapfiles/transit/iw2/b/uk-london-bus.png">
                            <strong>
                                <span>{{map.window.model.name}}</span>
                                <span>{{map.window.model.stopIndicator ? '(Stop '+map.window.model.stopIndicator+ ')' : ''}}</span>
                            </strong>
                        </h5>
                        <p><strong>Towards:</strong> {{map.window.model.towards}}</p>
                        <p><strong>SMS Code:</strong> {{map.window.model.smsCode}}</p>
                        <p><strong>Direction:</strong> {{map.window.model.direction}}</p>
                        <a href="#/bus-detail/{{map.window.model.id}}/{{map.window.model.name}}">See departures timetable</a>
                    </div>

                </ui-gmap-window>
                <ui-gmap-markers models="markers"
                                 coords="'self'"
                                 events="map.markersEvents"
                                 icon="'icon'">
                </ui-gmap-markers>
            </ui-gmap-google-map>
        </div>
    </div>
</div>

<footer class="container-fluid text-center podcast--footer">
    <hr>
    <p>Source code available on <a href="https://github.com/jesussobrino/angular-bus-stop">https://github.com/jesussobrino/angular-bus-stop</a>
    </p>
</footer>
